body { padding: 1.5em; }
.title { font:3em bold; vertical-align: middle; }
#logo { vertical-align: middle; }
.uline { border-bottom: 1px solid black; }
.oline { border-top: 1px solid black; }
.rline { border-right: 1px solid black; }
.vcenter { vertical-align: middle; }
.small { font-size: 75%; vertical-align: super; }
.bold { font-weight: bold; }
tr:last-child button { width: 100% }
#selector { display: inline-flex; padding-right: 1em; min-width: 5em; }
.flow { display: inline-block; vertical-align: top; }
.box {
  border: 1px solid black;
  border-radius: 1em;
  display: inline-block;
  vertical-align: top;
  background-color: lightgray;
  margin: 0.25em;
}
.wait { display: none; }
.err_msg { display: none; color: red; text-align: center; }
.flex-column { display: inline-flex; flex-direction: column; }
.flex-row { display: inline-flex; flex-flow: row wrap; }
.col-spaced > * { padding-bottom: 0.5em; }

.ds_filters {
  border: 2px groove;
  margin: 0 1em 0.5em 1em;
  text-align: center;
}
.ds_filters > legend { font-weight: bold; }
.ds_filters > button { width: 100%; }
.ds_filters > .filters {
  height: 18em;
  min-height: 5em;
  overflow: auto;
  resize: vertical;
  padding: 0.25em 0.8em;
}
.ds_filters .filter {
  padding: 0.3em 1em 0.3em 1em;
  vertical-align: middle;
  display: table-row;
}
.ds_filters .filter > * { text-align: left; }
.ds_filters .filter > .chosen-container { min-width: 100%; }
.ds_filters .filter .slider {
  margin: 0.1em auto 0.5em auto;
  height: 36px;
  width: 350px;
  border-radius: 0px;
  background-repeat: no-repeat;
}
.ds_filters .filter .ui-slider .ui-slider-range { background: rgba(0,0,0,0.2); }
.ds_filters .filter .ui-slider .ui-slider-handle {
  height: 115%;
  width: 1em;
  background: rgba(0,0,0,0.3);
  border: 1px solid;
}

.ds_table { float: left; margin: 0 1em 0.5em 1em; }
.ds_table td { padding: 0.3em 1em 0.3em 1em; vertical-align: middle; text-align: center;}
.ds_table td > * { text-align: left; }
.ds_table td > .chosen-container { min-width: 100%; }
.ds_table td > button { text-align: center; }
.ds_table caption { font-weight: bold; }
.ds_table input[type="number"] { width: 4em; }

.pp_table {
  margin: 1em;
  border-collapse: collapse;
  display: inline;
  table-layout: fixed;
  max-width: 40em;
}
.pp_table th { font-weight: bold; }
.pp_table td { text-align: center; padding: 0 0.5em; }
.pp_table input[type="number"] { width: 4em; }

.fake_button {
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  padding: 1px 1px 1px 6px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Styles for the mpl figure */
#figure {
  display: inline-block;
  clear: both;
  border: 2px groove #eee;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: white;
}
#figure .ui-dialog-titlebar { display: none; }
#figure .ui-icon {
  background-image: url("_static/jquery/css/themes/base/images/ui-icons_222222_256x240.png");
}
#figure>div>div:last-child { text-align: left; }
#figure .mpl-message { padding-left: 1em; }

#figure_controls {
  display: inline-flex;
  padding-top: 1em;
  width: 100%;
  justify-content: space-around;
}

.pp_staging {
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pp_staging > li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 0.2em;
  margin: 0.3em;
  cursor: pointer;
}
.pp_staging > li:hover { text-decoration: line-through; }
.pp_staging > li.normalize { background-color: lightyellow; }
.pp_staging > li.squash { background-color: lightpink; }
.pp_staging > li.smooth { background-color: lightcyan; }
.pp_staging > li.deriv { background-color: lightgreen; }

/* Uniform styling for input-range sliders */
input[type=range] {
  -webkit-appearance: none;
  padding: 0;
  width: 100%;
}
input[type=range]:focus { outline: none; }
input[type=range]::-ms-tooltip { display: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;  /* includes 1px border */
  background: #ddd;
  border: 1px solid #888;
  border-radius: 3px;
}
input[type=range]::-moz-range-track {
  height: 3px;  /* excludes 1px border */
  background: #ddd;
  border: 1px solid #888;
  border-radius: 3px;
}
input[type=range]::-ms-track {
  height: 5px;  /* includes 1px border */
  /*remove bg color, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;  /*remove default tick marks*/
}
input[type=range]::-ms-fill-lower {
  background: #999;
  border: 1px solid #888;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border: 1px solid #888;
  border-radius: 10px;
}

input[type=range]:focus::-webkit-slider-runnable-track { border-color: #666; }
input[type=range]:focus::-moz-range-track { border-color: #666; }
input[type=range]:focus::-ms-fill-lower { border-color: #666; }
input[type=range]:focus::-ms-fill-upper { border-color: #666; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  height: 13px;
  width: 7px;
  background: #555;
  margin-top: -5px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  height: 13px;
  width: 7px;
  background: #555;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 13px;
  width: 7px;
  background: #555;
}

/* Expand/Collapse buttons */
.collapse {
  float: right;
  width: 24px;
  height: 24px;
}
.down_chevron {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAqFBMVEUAAABhYWFgYGD////v7+9VVVVZWVn////t7e1ra2vw8PCHh4d4eHhiYmKFhYX7+/v6+vr8/PxfX1/9/f1ra2tiYmL///////93d3f///////98fHz///9qampUVFT///93d3f///9UVFT///////9eXl7///////////+FhYV3d3dqamqSkpKfn59eXl7Z2dm+vr6ioqLd3d21tbW0tLSpqamLi4uCgoJl9SrzAAAAKXRSTlMACRIM9uKEWP3y7Ovm4d/d2sfHvr62rpaWinVjUVFLRTw5LSonIR4GA8spfx8AAACKSURBVBjTxY5XDoUgFERVLK/33quKCNjd/85EDGos356fO5lkbo7Uh9yRFU0vu4f2KcKekM2/iDohc4UPpgih8T2f7BDjmpdgGzqMk/yasZNSg2/sM00ghAvIwJOneH9TfZfjrc1K5LfyMMZ+cLTqbuBA40g1mp6X0fLb9nyDYTylyrOO8GzAPQUZglQXj4vSRNMAAAAASUVORK5CYII=);
}
.up_chevron {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAq1BMVEUAAADQ0ND////l5eV0dHT///99fX1qamrg4OB4eHjq6uqGhoaoqKjd3d14eHiGhob19fWTk5P5+fn6+vrt7e1ra2uSkpKenp74+Pj///9qamr///////93d3eenp6oqKj///+FhYWoqKj///+FhYWSkpL///////9qamqFhYV3d3eSkpJeXl6fn59lZWXp6enT09PMzMzCwsKsrKympqaWlpaAgIBxcXFUVFSzlZM2AAAAKHRSTlMABywMaWATCfj49fXr6ejj3drRysi+t66enJyZioqBdVdRSD8zJyEVT4gb/wAAAIlJREFUGNPFzkcSgzAQRNGRRHDOOWdjMcI53P9klhAlipoD8FZdvfrgMKB2jTX5VkqpcVi4glFsdI+QO7QvVn3rPq8qpYyvT6kt7RXOIu3V49P7V49hAJpoISaPuQDY1D6I6KV9gySq+Gnnqa9+bx+Mc7PDs062uE3A4iLv3LNyOoF2GqQz4zqpPx5ZF0t9qewGAAAAAElFTkSuQmCC);
}

/* Silly things */
#easter_egg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 19px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAATCAMAAACuuX39AAAB71BMVEX///9ev/XzoR7/8/Hg///m///b///Y///3/v///v3s9PTq8O/fUkvbRz7cQTjZLijzoh77///y///I6P77//3J8/35/PzT9/y+4/y64/zf//r//fr6+vm04viv4Pj/+Pfm8/T/9fNuw/Pk7+/n7+7g9OPY69/+19bD4M3py8vsysruw8PafHbbdW/laWXZVE0nhzTXMSzXKSLt//+77//S7f+y5/+n4P/Z+v7X8f77+/31+/3a+/nz+vmY1fne9vip3viO0vf1+/bI8/ba8Pbu9vWx5vTO5fT///PZ6vOn2fOd1vL3+O/w9e91xO/g6+ys1+yl0uz57ev//+rz9Oni8uj1+OXr6OXR8eO70+KAveKJvuH68Nz129v/2tb67tP80tHw183o2cv80MnoxsbpwsTr0cO228Kt4sDlwMDjwb72473az73tzb3eub30u7zkvLv14LbVxLTntbSwzq7pqKHVpJ/vo57roZzy2Zvoy5l+v5mSwpbllJLrlZDek5D10IlruohwvIZ0toHigX1gr3XeeXNMpWvZaGPaY13hYl33vlvat1nLtFn2ulXbYFUkmVDeV045kkffSkcek0Y3kEIQhzz1rzrgODQShTAXdCz6rSfXKCGZlxzvohngGxfalAoAdwkIaQnLjQFbdABCKQTKAAABE0lEQVQY02MAg/jKwuwGaQYE8OhZsLgXia8xbe7CJYtmpcP4Po2q1hFhqhlNIRA+lyeHsKSEpISwqbsCiM8ZYG7pICcrK+fl7RgIMphDjFNekRkEFOXFhIACtXrlPPz8RnOM+A35JrdwMgim5sdqa2tpaWqmZBYU58kwWPmK2LpycXFzq6goKyv4czPEzOvuY2ISYAICAYHps6sYBFmFjFlZWVhY2NjY2dnYXRiCDGd06Xfq6ujodujz8syvZxDJqqjTm8jLx8fL099WWhbOwGBvJipuwSIlZSPuLGrixsHAIBPtp8QIBkp2UZEgtwfn5iTGqasnJCcVpUF8p9Y+02DqJIMpE6ph/ndSK2lurdEIBbEB4Vg6cSg21SkAAAAASUVORK5CYII=);
}
div.darby {
  background: -moz-linear-gradient(left,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 255, 0, 0.5) 15%,
    rgba(0, 255, 0, 0.5) 30%,
    rgba(0, 255, 255, 0.5) 50%,
    rgba(0, 0, 255, 0.5) 65%,
    rgba(255, 0, 255, 0.5) 80%,
    rgba(255, 0, 0, 0.5) 100%);
  background: -webkit-gradient(linear, left top, right top,
    color-stop(0%, rgba(255, 0, 0, 0.5)),
    color-stop(15%, rgba(255, 255, 0, 0.5)),
    color-stop(30%, rgba(0, 255, 0, 0.5)),
    color-stop(50%, rgba(0, 255, 255, 0.5)),
    color-stop(65%, rgba(0, 0, 255, 0.5)),
    color-stop(80%, rgba(255, 0, 255, 0.5)),
    color-stop(100%, rgba(255, 0, 0, 0.5)));
  background: -webkit-linear-gradient(left,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 255, 0, 0.5) 15%,
    rgba(0, 255, 0, 0.5) 30%,
    rgba(0, 255, 255, 0.5) 50%,
    rgba(0, 0, 255, 0.5) 65%,
    rgba(255, 0, 255, 0.5) 80%,
    rgba(255, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(left,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 255, 0, 0.5) 15%,
    rgba(0, 255, 0, 0.5) 30%,
    rgba(0, 255, 255, 0.5) 50%,
    rgba(0, 0, 255, 0.5) 65%,
    rgba(255, 0, 255, 0.5) 80%,
    rgba(255, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(left,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 255, 0, 0.5) 15%,
    rgba(0, 255, 0, 0.5) 30%,
    rgba(0, 255, 255, 0.5) 50%,
    rgba(0, 0, 255, 0.5) 65%,
    rgba(255, 0, 255, 0.5) 80%,
    rgba(255, 0, 0, 0.5) 100%);
  background: linear-gradient(to right,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 255, 0, 0.5) 15%,
    rgba(0, 255, 0, 0.5) 30%,
    rgba(0, 255, 255, 0.5) 50%,
    rgba(0, 0, 255, 0.5) 65%,
    rgba(255, 0, 255, 0.5) 80%,
    rgba(255, 0, 0, 0.5) 100%);
}
body.darby {
  background-image: url(http://www.picgifs.com/glitter-gifs/s/stars/picgifs-stars-053134.gif);
}
