<div id="baseline_steps">
<table id="baseline_table" class="pp_table">
<tr>
  <td class="rline vcenter" rowspan=3>
    Method:<br />
    <select id="blr_method" onchange="$('td.param').hide();$('td.param.'+this.value).show();">
    {% for key, bl in bl_classes %}
      <option value="{{key}}">{{bl.__class__.__name__}}</option>
    {% end %}
    </select><br />
    <button class="needs_plot" disabled
      onclick="do_baseline($('#blr_method').val());">Apply</button>
  </td>
  <!-- General options -->
  <td class="uline">
    <label>Segmented: <input type="checkbox" id="blr_segmented"></label>
  </td><td class="uline">
    <label>Inverted: <input type="checkbox" id="blr_inverted"></label>
  </td><td class="uline">
    Bounds: <input id="blr_lb" type="number">
      to    <input id="blr_ub" type="number">
  </td>
</tr>
<tr> <!-- slider row -->
  {% for key, bl in bl_classes %}
    {% for param, (lb,ub,scale) in bl.param_ranges().items() %}
      <td class="param {{key}}"
        {% if key != bl_classes[0][0] %}style="display: none;"{% end %}>
        <input type="range"
               step={{compute_step(lb,ub,scale)}}
        {% if scale == 'log' %}
               min={{log10(lb)}} max={{log10(ub)}}
               value={{log10(getattr(bl,param))}}
               oninput="update_1eX(this.value, '#{{key}}_{{param}}', {{str(ub>1e5).lower()}});">
        {% else %}
               min={{lb}} max={{ub}}
               value={{getattr(bl,param)}}
               oninput="$('#{{key}}_{{param}}').text(this.value);">
        {% end %}
      </td>
    {% end %}
  {% end %}
</tr>
<tr> <!-- label row -->
  {% for key, bl in bl_classes %}
    {% for param in bl.param_ranges() %}
      <td class="param {{key}}"
        {% if key != bl_classes[0][0] %}style="display: none;"{% end %}>
        {{param.strip('_')}} = <span id="{{key}}_{{param}}">{{getattr(bl, param)}}</span>
      </td>
    {% end %}
  {% end %}
</tr>
</table>
</div>