<table class='ds_table'>
  <caption>Baseline Correction &amp; Preprocessing</caption>
  <!-- BLR method dropdown -->
  <tr><td class="rline vcenter">
    Method:<br />
    <select class="blr_method" onchange="$(this).closest('table').find('td.param').hide();
    if(this.value){$(this).closest('table').find('td.param.'+this.value).show();}">
      <option value="">none</option>
    {% for key, bl in bl_classes %}
      <option value="{{key}}">{{bl.__class__.__name__}}</option>
    {% end %}
    </select>
  </td>
  <!-- General options -->
  <td class="uline" colspan=2>
    Crop/resample x-axis:<br>
    <input class="blr_lb" type="number"> to
    <input class="blr_ub" type="number"> by
    <input class="blr_step" type="number">
  </td><td class="uline">
    <label>Segment: <input type="checkbox" class="blr_segmented"></label><br>
    <label>Invert: <input type="checkbox" class="blr_inverted"></label>
  </td>
  </tr><tr>
  <!-- slider row -->
  {% for key, bl in bl_classes %}
    <td class="param {{key}} rline" rowspan=2 style="display: none;">
      Parameters:
    </td>
    {% for param, (lb,ub,scale) in bl.param_ranges().items() %}
      <td class="param {{key}}" style="display: none;">
        <input type="range"
               step={{compute_step(lb,ub,scale)}}
        {% if scale == 'log' %}
               min={{log10(lb)}} max={{log10(ub)}}
               value={{log10(getattr(bl,param))}}
               onchange="update_1eX(this.value, $(this).closest('table').find('.{{key}}_{{param}}'), {{str(ub>1e5).lower()}});"
               oninput="update_1eX(this.value, $(this).closest('table').find('.{{key}}_{{param}}'), {{str(ub>1e5).lower()}});">
        {% else %}
               min={{lb}} max={{ub}}
               value={{getattr(bl,param)}}
               onchange="$(this).closest('table').find('.{{key}}_{{param}}').text(this.value);"
               oninput="$(this).closest('table').find('.{{key}}_{{param}}').text(this.value);">
        {% end %}
      </td>
    {% end %}
  {% end %}
  </tr>
  <!-- label row -->
  <tr>
  {% for key, bl in bl_classes %}
    {% for param in bl.param_ranges() %}
      <td class="param {{key}}" style="display: none;">
        {{param.replace('_', ' ').strip()}} =
        <span class="{{key}}_{{param}}">{{getattr(bl, param)}}</span>
      </td>
    {% end %}
  {% end %}
  </tr>
  <!-- pp steps follow -->
  <!-- normalization -->
  <tr class="uline">
  <td class="rline vcenter">Normalize</td><td colspan=3>
  <button onclick="add_pp_step(this,'normalize','max');">max</button>
  <button onclick="add_pp_step(this,'normalize','l1');">L<sub>1</sub></button>
  <button onclick="add_pp_step(this,'normalize','l2');">L<sub>2</sub></button>
  <button onclick="add_pp_step(this,'normalize','cum');">cumulative</button>
  <button onclick="add_pp_step(this,'normalize','norm3');" class="libs_only">norm3</button>
  <span class="fake_button" onclick="add_pp_step(this,'normalize','band','loc');">
  band @<input type="number" value=500 name="loc"></span>
  </td></tr>
  <!-- squashing -->
  <tr class="uline">
  <td class="rline vcenter">Squash</td><td colspan=3>
  <!-- TODO: row(s) for generalized squashing (poly,bezier) -->
  <!-- TODO: hinge squash, with argument? -->
  <button onclick="add_pp_step(this,'squash','sqrt');">square root</button>
  <button onclick="add_pp_step(this,'squash','cos');">cosine</button>
  <button onclick="add_pp_step(this,'squash','log');">log</button>
  <button onclick="add_pp_step(this,'squash','tanh');">tanh</button>
  </td></tr>
  <!-- smoothing / derivative -->
  <tr><td class="rline uline vcenter" rowspan=2>
  Savitzky-Golay<br />
  <button onclick="add_pp_step(this,'smooth',null,'sg')">Smooth</button>
  <button onclick="add_pp_step(this,'deriv',null,'sg')">Deriv.</button>
  </td><td class="pp_param">
  <input type="range" min=5 max=41 value=9 step=2 name="sg" checked
         onchange="$(this).closest('table').find('.window').text(this.value);"
         oninput="$(this).closest('table').find('.window').text(this.value);">
  </td><td class="pp_param" colspan=2>
  <input type="range" min=1 max=10 value=4 step=1 name="sg" checked
         onchange="$(this).closest('table').find('.order').text(this.value);"
         oninput="$(this).closest('table').find('.order').text(this.value);">
  </td></tr>
  <tr class="uline">
  <td class="pp_param">window = <span class="window">9</span></td>
  <td class="pp_param" colspan=2>order = <span class="order">4</span></td></tr>
  <!-- staging area for pp steps -->
  <tr><td colspan=5><ol class='pp_staging'></ol></td></tr>
</table>