<table class='ds_table'>
  <caption>Baseline Correction &amp; Preprocessing</caption>
  <!-- BLR method dropdown -->
  <tr><td class="rline vcenter" rowspan=3>
    Method:<br />
    <select class="blr_method"
    onchange="$('td.param').hide();if(this.value){$('td.param.'+this.value).show();}">
      <option value="">none</option>
    {% for key, bl in bl_classes %}
      <option value="{{key}}">{{bl.__class__.__name__}}</option>
    {% end %}
    </select>
  </td>
  <!-- General options -->
  <td class="uline">
    Bounds: <input class="blr_lb" type="number">
      to    <input class="blr_ub" type="number">
  </td><td class="uline">
    <label>Segmented: <input type="checkbox" class="blr_segmented"></label>
  </td><td class="uline">
    <label>Inverted: <input type="checkbox" class="blr_inverted"></label>
  </td>
  </tr><tr>
  <!-- slider row -->
  {% for key, bl in bl_classes %}
    {% for param, (lb,ub,scale) in bl.param_ranges().items() %}
      <td class="param {{key}}" style="display: none;">
        <input type="range"
               step={{compute_step(lb,ub,scale)}}
        {% if scale == 'log' %}
               min={{log10(lb)}} max={{log10(ub)}}
               value={{log10(getattr(bl,param))}}
               oninput="update_1eX(this.value, '#{{key}}_{{param}}', {{str(ub>1e5).lower()}});">
        {% else %}
               min={{lb}} max={{ub}}
               value={{getattr(bl,param)}}
               oninput="$('#{{key}}_{{param}}').text(this.value);">
        {% end %}
      </td>
    {% end %}
  {% end %}
  </tr>
  <!-- label row -->
  <tr>
  {% for key, bl in bl_classes %}
    {% for param in bl.param_ranges() %}
      <td class="param {{key}}" style="display: none;">
        {{param.strip('_')}} = <span id="{{key}}_{{param}}">{{getattr(bl, param)}}</span>
      </td>
    {% end %}
  {% end %}
  </tr>
  <!-- pp rows follow -->
  <tr class="uline oline"><td colspan=5></td></tr>
  <!-- normalization -->
  <tr class="uline">
  <td class="rline vcenter">Normalize</button></td><td colspan=3>
  <button onclick="add_pp_step(this,'normalize','max');">max</button>
  <button onclick="add_pp_step(this,'normalize','l1');">L<sub>1</sub></button>
  <button onclick="add_pp_step(this,'normalize','l2');">L<sub>2</sub></button>
  <button onclick="add_pp_step(this,'normalize','cum');">cumulative</button>
  <button onclick="add_pp_step(this,'normalize','norm3');">LIBS norm3</button>
  </td></tr>
  <!-- squashing -->
  <tr class="uline">
  <td class="rline vcenter">Squash</td><td colspan=3>
  <!-- TODO: row(s) for generalized squashing (poly,bezier) -->
  <!-- TODO: hinge squash, with argument? -->
  <button onclick="add_pp_step(this,'squash','sqrt');">square root</button>
  <button onclick="add_pp_step(this,'squash','cos');">cosine</button>
  <button onclick="add_pp_step(this,'squash','log');">log</button>
  <button onclick="add_pp_step(this,'squash','tanh');">tanh</button>
  </td></tr>
  <!-- smoothing / derivative -->
  <tr><td class="rline uline vcenter" rowspan=2>
  <button onclick="add_pp_step(this,'smooth',null,'sg')">Smooth</button><br />
  <button onclick="add_pp_step(this,'deriv',null,'sg')">Derivative</button>
  </td><td>
  <input type="range" min=5 max=41 value=9 step=2 name="sg" checked
         oninput="$(this).closest('table').find('.window').text(this.value);">
  </td><td colspan=2>
  <input type="range" min=1 max=10 value=4 step=1 name="sg" checked
         oninput="$(this).closest('table').find('.order').text(this.value);">
  </td></tr>
  <tr class="uline">
  <td>Savitzky-Golay window = <span class="window">9</span></td>
  <td colspan=2>Savitzky-Golay order = <span class="order">4</span></td></tr>
  <!-- staging area for pp steps -->
  <tr class="uline"><td colspan=5>
  <ol class='pp_staging'></ol>
  </td></tr>
</table>