<table class="ds_table">
<caption>Filters</caption>
{% for row in html_parts %}
  <tr>
  {% for cls, td in row %}
    <td class="filter {{cls}}">{% raw td %}</td>
  {% end %}
  </tr>
{% end %}
  <tr>
    <td colspan="{{num_cols}}">
      <button onclick='do_filter(this, {
        {% for name, js in collect_js %}
          {{name}}: JSON.stringify({% raw js %}),
        {% end %}
        ds_name: {{ds.name}},
        ds_kind: {{ds.kind}} } );'>
        Filter<span class='ing'></span>
      </button>
    </td>
  </tr>
</table>

<script type="text/javascript">
// Initialize filters
{% for js in init_js %}
  {% raw js %}
{% end %}
</script>
