<table class="ds_table">
<caption>Filters</caption>
{% for row in html_parts %}
  <tr>
  {% for cls, td in row %}
    <td class="filter {{cls}}">{% raw td %}</td>
  {% end %}
  </tr>
{% end %}
  <tr>
    <td colspan="{{num_cols}}">
      <button id="filter_button" onclick="do_filter();">
        Filter<span class='ing'></span>
      </button>
    </td>
  </tr>
</table>

<script type="text/javascript">
// Initialize filters
{% for js in init_js %}
  {% raw js %}
{% end %}

function collect_filter_params(){
  return {
  {% for name, js in collect_js %}
    {{name}}: JSON.stringify({% raw js %}),
  {% end %}
  };
}
</script>
