<table class="ds_table">
<caption>Plotting Controls</caption>

<tr><td class='bold'>X axis</td>
<td><select id="xaxis" onchange='changed(this.value, "x")'>
  <option value='cardinal'>cardinal</option>
  <option value='default' selected>channels</option>
  <option value='metadata'>metadata</option>
  <option value='line_ratio'>line ratio</option>
  <option value='computed'>computed</option>
</select></td>
<td class='x cardinal' style='display:none'></td>
<td class='x default'>
{% if is_libs %}
  Masking:<input id="chan_mask" type="checkbox" checked>
{% end %}
</td>
<td class='x metadata' style='display:none'>
<select>
{% for key,name in metadata_names %}
  <option value="{{key}}">{{name}}</option>
{% end %}
</select>
</td>
<td class='x line_ratio' style='display:none'>
(<input type='text' size=5 value='633'>:<input type='text' size=5 value='635.5'>) /
(<input type='text' size=5 value='288'>:<input type='text' size=5 value='288.5'>)
</td>
<td class='x computed' style='display:none'>
f(x,y) = <input type='text' value='sqrt(sum(y**2))'>
</td>
<td>Line Width (<span id="lw_val">{{default_lw}}</span>)</td>
<td>Opacity (<span id="alpha_val">1.00</span>)</td>
</tr>

<tr><td class='bold'>Y axis</td>
<td><select id="yaxis" onchange='changed(this.value, "y")'>
  <option value='cardinal'>cardinal</option>
  <option value='default' selected>intensities</option>
  <option value='metadata'>metadata</option>
  <option value='line_ratio'>line ratio</option>
  <option value='computed'>computed</option>
</select></td>
<td class='y cardinal' style='display:none'></td>
<td class='y default'></td>
<td class='y metadata' style='display:none'>
<select>
{% for key,name in metadata_names %}
  <option value="{{key}}">{{name}}</option>
{% end %}
</select>
</td>
<td class='y line_ratio' style='display:none'>
(<input type='text' size=5 value='633'>:<input type='text' size=5 value='635.5'>) /
(<input type='text' size=5 value='288'>:<input type='text' size=5 value='288.5'>)
</td>
<td class='y computed' style='display:none'>
f(x,y) = <input type='text' value='sqrt(sum(y**2))'>
</td><td>
<input id="plt_lw" type="range" min=1 max=20 value={{default_lw}} step=0.5
       onchange="$('#lw_val').text((+this.value).toFixed(2));"
       oninput="$('#lw_val').text((+this.value).toFixed(2));">
</td><td>
<input id="plt_alpha" type="range" min=0 max=1 value=1 step=0.05
       onchange="$('#alpha_val').text((+this.value).toFixed(2));"
       oninput="$('#alpha_val').text((+this.value).toFixed(2));">
</td></tr>

<tr><td class='bold'>Color</td>
<td><select id="color" onchange='changed(this.value, "color")'>
  <option value='default'>fixed</option>
  <option value='cycled'>cycled</option>
  <option value='metadata'>metadata</option>
  <option value='line_ratio'>line ratio</option>
  <option value='computed'>computed</option>
</select></td>
<td class='color default'>
<input type="color" id="plt_color" value='#0000FF'>
</td>
<td class='color cycled' style='display:none'></td>
<td class='color metadata' style='display:none'>
<select>
{% for key,name in metadata_names %}
  <option value="{{key}}">{{name}}</option>
{% end %}
</select>
</td>
<td class='color line_ratio' style='display:none'>
(<input type='text' size=5 value='633'>:<input type='text' size=5 value='635.5'>) /
(<input type='text' size=5 value='288'>:<input type='text' size=5 value='288.5'>)
</td>
<td class='color computed' style='display:none'>
f(x,y) = <input type='text' value='sqrt(sum(y**2))'>
</td>
<td rowspan=2 class='vcenter'>Color Map
<a href="http://matplotlib.org/examples/color/colormaps_reference.html"
   class="small">[?]</a><br>
<select id="plt_cmap">
  <option value="_auto" selected>auto</option>
{% for cmap in cmaps %}
  <option value="{{cmap}}">{{cmap}}</option>
{% end %}
</select></td>
<td>Clear plot:<input id="plt_clear" type="checkbox" checked></td>
</tr>

<tr>
<td colspan=2>
  <button style="width: 100%" class="needs_plot" disabled
   onclick="download_data();">
  Download <span class='num'></span> spectra</button>
</td><td>
  <select id='dl_metadata' data-placeholder='with metadata' multiple>
  {% for key,name in metadata_names %}
    {% if key != '_ds' %}
      <option value="{{key}}">{{name}}</option>
    {% end %}
  {% end %}
  </select>
</td>
<td>Show legend:<input id="plt_legend" type="checkbox" checked></td>
</tr>

<tr>
<td colspan=5>
  <button id="plot_button" class="needs_filter"
          onclick="do_filtered_plot();" disabled>
  Plot<span class='dots'></span></button>
</td>
</tr>
</table>
