<div id="pp_steps">
<table id="pp_table" class="pp_table">
<!-- TODO: allow re-ordering steps -->
<tr class="uline"><th colspan=3>Preprocessing Steps</th></tr>
<!-- normalization -->
<tr class="uline">
<td class="rline vcenter">Normalize</button></td><td colspan=2>
<button onclick="add_pp_step('normalize','max');">max</button>
<button onclick="add_pp_step('normalize','l1');">L<sub>1</sub></button>
<button onclick="add_pp_step('normalize','l2');">L<sub>2</sub></button>
<button onclick="add_pp_step('normalize','cum');">cumulative</button>
<button onclick="add_pp_step('normalize','norm3');">norm-3 (LIBS only)</button>
</td></tr>
<!-- squashing -->
<tr class="uline">
<td class="rline vcenter">Squash</td><td colspan=2>
<!-- TODO: row(s) for generalized squashing (poly,bezier) -->
<!-- TODO: hinge squash, with argument? -->
<button onclick="add_pp_step('squash','sqrt');">square root</button>
<button onclick="add_pp_step('squash','cos');">cosine</button>
<button onclick="add_pp_step('squash','log');">log</button>
<button onclick="add_pp_step('squash','tanh');">tanh</button>
</td></tr>
<!-- smoothing -->
<tr><td class="rline uline vcenter" rowspan=2>
<button onclick="add_pp_step('smooth',null,'smooth')">Smooth</button>
</td><td>
<input type="range" min=5 max=41 value=9 step=2 name="smooth"
       oninput="$('#smooth_window').text(this.value);">
</td><td>
<input type="range" min=1 max=10 value=4 step=1 name="smooth"
       oninput="$('#smooth_order').text(this.value);">
</td></tr>
<tr class="uline">
<td>Savitzky-Golay window = <span id="smooth_window">9</span></td>
<td>Savitzky-Golay order = <span id="smooth_order">4</span></td></tr>
<!-- derivative -->
<tr><td class="rline uline vcenter" rowspan=2>
<button onclick="add_pp_step('deriv',null,'deriv')">Derivative</button>
</td><td>
<input type="range" min=5 max=41 value=9 step=2 name="deriv"
       oninput="$('#deriv_window').text(this.value);">
</td><td>
<input type="range" min=1 max=10 value=4 step=1 name="deriv"
       oninput="$('#deriv_order').text(this.value);">
</td></tr>
<tr class="uline">
<td>Savitzky-Golay window = <span id="deriv_window">9</span></td>
<td>Savitzky-Golay order = <span id="deriv_order">4</span></td></tr>
<!-- staging area for pp steps -->
<tr class="uline"><td colspan=3>
<ol id='pp_staging'></ol>
</td></tr>
<!-- big button to apply pp steps -->
<tr class="uline"><td colspan=3>
<button class="needs_plot" onclick="do_pp(collect_pp_args())" disabled>
Apply Preprocessing</button></td></tr>
</table>
<div id="pp_messages"></div>
</div>
