<div class="pp_steps">
<table class="pp_table">
<!-- TODO: allow re-ordering steps -->
<tr class="uline"><th colspan=3>Preprocessing Steps</th></tr>
<!-- normalization -->
<tr class="uline">
<td class="rline vcenter">Normalize</button></td><td colspan=2>
<button onclick="add_pp_step(this,'normalize','max');">max</button>
<button onclick="add_pp_step(this,'normalize','l1');">L<sub>1</sub></button>
<button onclick="add_pp_step(this,'normalize','l2');">L<sub>2</sub></button>
<button onclick="add_pp_step(this,'normalize','cum');">cumulative</button>
<button onclick="add_pp_step(this,'normalize','norm3');">LIBS norm3</button>
</td></tr>
<!-- squashing -->
<tr class="uline">
<td class="rline vcenter">Squash</td><td colspan=2>
<!-- TODO: row(s) for generalized squashing (poly,bezier) -->
<!-- TODO: hinge squash, with argument? -->
<button onclick="add_pp_step(this,'squash','sqrt');">square root</button>
<button onclick="add_pp_step(this,'squash','cos');">cosine</button>
<button onclick="add_pp_step(this,'squash','log');">log</button>
<button onclick="add_pp_step(this,'squash','tanh');">tanh</button>
</td></tr>
<!-- smoothing -->
<tr><td class="rline uline vcenter" rowspan=2>
Savitzky-Golay<br />
<button onclick="add_pp_step(this,'smooth',null,'smooth')">Smooth</button>
</td><td>
<input type="range" min=5 max=41 value=9 step=2 name="smooth"
       oninput="$(this).closest('table').find('.smooth.window').text(this.value);">
</td><td>
<input type="range" min=1 max=10 value=4 step=1 name="smooth"
       oninput="$(this).closest('table').find('.smooth.order').text(this.value);">
</td></tr>
<tr class="uline">
<td>window = <span class="smooth window">9</span></td>
<td>order = <span class="smooth order">4</span></td></tr>
<!-- derivative -->
<tr><td class="rline uline vcenter" rowspan=2>
Savitzky-Golay<br />
<button onclick="add_pp_step(this, 'deriv',null,'deriv')">Derivative</button>
</td><td>
<input type="range" min=5 max=41 value=9 step=2 name="deriv"
       oninput="$(this).closest('table').find('.deriv.window').text(this.value);">
</td><td>
<input type="range" min=1 max=10 value=4 step=1 name="deriv"
       oninput="$(this).closest('table').find('.deriv.order').text(this.value);">
</td></tr>
<tr class="uline">
<td>window = <span class="deriv window">9</span></td>
<td>order = <span class="deriv order">4</span></td></tr>
<!-- staging area for pp steps -->
<tr class="uline"><td colspan=3>
<ol class='pp_staging'></ol>
</td></tr>
<!-- big button to apply pp steps -->
<tr class="uline"><td colspan=3>
<button class="needs_plot" disabled
        onclick="do_pp(collect_pp_args($(this).closest('table')));">
Apply Preprocessing</button></td></tr>
</table>
<!-- <div id="pp_messages"></div> -->
</div>