<div id="figure_controls">
<div id="zoom_control">
  X axis: <input type="text" name="xmin" size=4>
       to <input type="text" name="xmax" size=4>
  Y axis: <input type="text" name="ymin" size=4>
       to <input type="text" name="ymax" size=4>
  &nbsp;&nbsp;
  <button class="needs_plot" disabled onclick="do_zoom();">Update plot bounds</button>
</div>

<div id="bg_control">
  Figure background:
  <input type="color" value="#ffffff"
   onchange="$('#figure').css('background-color', this.value);">
</div>
</div>