{% extends "_common.html" %}
{% block head_matter %}
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<script type="text/javascript">
function download_baseline() {
  window.open('/'+fig.id+'/baseline.txt', '_blank');
}
$(document).ready(function(){
  onready_boilerplate("{{ws_uri}}", {{ fig_id }});
});
</script>
<style type="text/css">
#ds_selector_wrapper { padding-top: 1em; }
#baseline_steps { float: left; }
#fig_wrapper { clear: none; float: left; padding: 0 2em; display: inline-block;}
</style>
{% end %}

{% block body_matter %}
{% include '_dataset_selector.html' %}

<div id="baseline_steps">
<table id="baseline_table" class="pp_table">
<tr class="uline"><th colspan=4>Baseline Correction Algorithms</th></tr>
<!-- generic options -->
<tr class="uline"><td class="rline vcenter">General Options</td>
<td><label>Segmented: <input type="checkbox" class="blr_segmented"></label></td>
<td><label>Inverted: <input type="checkbox" class="blr_inverted"></label></td>
<td>Bounds: <input class="blr_lb" type="number"> to
<input class="blr_ub" type="number"></td>
</tr>
{% for key, bl in bl_classes %}
  <tr>
  <td class="rline uline vcenter" rowspan=2>
    <button class="needs_plot" disabled onclick="do_baseline('#baseline_table', '{{key}}')">
      {{bl.__class__.__name__}}
    </button>
  </td>
  {% for param, (lb,ub,scale) in list(bl.param_ranges().items()) %}
    <td class="param {{key}}" colspan={{3 if len(bl.param_ranges()) == 1 else 1}}>
      <input type="range"
             step={{compute_step(lb,ub,scale)}}
        {% if scale == 'log' %}
             min={{log10(lb)}} max={{log10(ub)}}
             value={{log10(getattr(bl,param))}}
             oninput="update_1eX(this.value, '#{{key}}_{{param}}', {{str(ub>1e5).lower()}});"
        {% else %}
             min={{lb}} max={{ub}}
             value={{getattr(bl,param)}}
             oninput="$('#{{key}}_{{param}}').text(this.value);"
        {% end %}>
    </td>
  {% end %}
  </tr>
  <tr class="uline">
  {% for param in list(bl.param_ranges()) %}
    <td class="param {{key}}" colspan={{3 if len(bl.param_ranges()) == 1 else 1}}>
      {{param.strip('_')}} = <span id="{{key}}_{{param}}">{{getattr(bl, param)}}</span>
    </td>
  {% end %}
  {% if len(bl.param_ranges()) == 0 %}
    <td colspan=3></td>
  {% elif len(bl.param_ranges()) == 2 %}
    <td></td>
  {% end %}
  </tr>
{% end %}
</table>
<div id="baseline_messages"></div>
</div>

<div id="fig_wrapper">
<div id="figure"></div>
<br />
<button class="needs_plot" onclick="download_baseline();" disabled>
Download original &amp; baseline</button>
</div>
{% end %}
