{% extends "_common.html" %}
{% block head_matter %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<script type='text/javascript'>
ds_name = 'Mars (big)';
ds_kind = 'LIBS';
function add_step(stage_selector) {
  var sel = $(stage_selector + '_options > option:selected');
  if (sel.length == 0 || sel[0].value.length == 0) return;
  var key = sel[0].value;
  var name = sel[0].text;
  $(stage_selector).append(
    '<li value="'+key+'" onclick="$(this).remove()">('+name+')</li>');
}
function plot_compositions() {
  function get_value(){ return this.getAttribute('value'); }
  var xc = $('#x_comp > li').map(get_value).toArray();
  var yc = $('#y_comp > li').map(get_value).toArray();
  if (xc.length + yc.length == 0) {
    alert('Please select at least one composition to plot.');
    return;
  }
  var post_data = {
    x_comps: xc.join('+'),
    y_comps: yc.join('+'),
    color_by: $('#color_by > option:selected').val(),
    do_fit: +$('#do_fit').is(':checked'),
    use_mols: +$('#use_mols').is(':checked'),
    fignum: fig.id,
  };
  $.post('/_plot_compositions', post_data, function(data, status) {
    if (status !== 'success') return;
    $('#fit_info td:last-child span').empty()
    update_zoom_ctrl(data['zoom']);
    delete data['zoom'];
    for (key in data) {
      $('#fit_' + key).text(data[key].toFixed(3));
    }
  }, 'json');
}
function download_data() {
  window.open('/'+fig.id+'/compositions.csv', '_blank');
}
$(document).ready(function(){
  onready_boilerplate("{{ ws_uri }}", {{ fig_id }});
  // Initialize filters
  {% for js in init_js %}
    {% raw js %}
  {% end %}
});
</script>

<style type="text/css">
#fit_info { float: left; }
#fit_info table {
  min-width: 10em;
}
#fit_info caption {
  border-bottom: 1px solid black;
  font-style: larger;
  font-weight: bold;
}
#fit_info td:first-child {
  border-right: 1px solid black;
  font-weight: bold;
  text-align: center;
}
#fit_info td:last-child {
  text-align: right;
}
#comps_table {
  table-layout: fixed;
  max-width: 40em;
}
.staging {
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.staging > li {
  display: inline-block;
  cursor: pointer;
}
.staging > li + li:before { content: '\0000a0+\0000a0'; }
</style>
{% end %}

{% block body_matter %}
<div id='ds_filter_container'>
<table class="ds_table">
<caption>Filters</caption>
{% for row in html_parts %}
  <tr>
  {% for cls, td in row %}
    <td class="filter {{cls}}">{% raw td %}</td>
  {% end %}
  </tr>
{% end %}
  <tr>
    <td colspan="{{num_cols}}">
      <button onclick='do_filter(this, {
        {% for name, js in collect_js %}
          {{name}}: JSON.stringify({% raw js %}),
        {% end %}
        ds_name: "{{ds.name}}",
        ds_kind: "{{ds.kind}}" } );'>
        Filter<span class='ing'></span></button>
    </td>
  </tr>
</table>
</div>

<div id='ds_plot_options_container'>
<table id='comps_table' class='ds_table'>
<caption>Plot Options</caption>
<!-- x axis options -->
<tr><td class="vcenter">X axis</td><td>
<select id='x_comp_options' onchange="add_step('#x_comp')">
  <option value=''>Add a composition</option>
{% for key, name in comp_pairs %}
  <option value="{{key}}">{{name}}</option>
{% end %}
</select>
</td></tr>
<!-- staging area for x compositions -->
<tr class="uline"><td colspan=2>
<ol id='x_comp' class='staging'></ol>
</td></tr>
<!-- y axis options -->
<tr><td class="vcenter">Y axis</td><td>
<select id='y_comp_options' onchange="add_step('#y_comp')">
  <option value=''>Add a composition</option>
{% for key, name in comp_pairs %}
  <option value="{{key}}">{{name}}</option>
{% end %}
</select>
</td></tr>
<!-- staging area for y compositions -->
<tr class="uline"><td colspan=2>
<ol id='y_comp' class='staging'></ol>
</td></tr>
<!-- color options -->
<tr class="uline"><td>Color by</td>
<td><select id="color_by">
  <option value="">None</option>
{% for key, name in num_pairs %}
  <option value="{{key}}">{{name}}</option>
{% end %}
</select></td></tr>
<!-- misc options -->
<tr class="uline"><td colspan=2>
<label>Linear fit: <input type="checkbox" id="do_fit" checked></label><br />
<label>Convert to mols: <input type="checkbox" id="use_mols" checked></label>
</td></tr>
<!-- plot button -->
<tr id='last_row'><td colspan=2>
  <button id="plot_button" onclick="plot_compositions();"
   disabled>Plot compositions</button>
</td></tr>
</table>
</div>

<div id="figure"></div>
<div id="fit_info"><table>
  <caption>Fit parameters</caption>
  <tr><td>R&#0178;</td>
      <td><span id="fit_rval"></span></td></tr>
  <tr><td>slope</td>
      <td><span id="fit_slope"></span> &plusmn;
          <span id="fit_slope_err"></span></td></tr>
  <tr><td>Y int.</td>
      <td><span id="fit_yint"></span> &plusmn;
          <span id="fit_yint_err"></span></td></tr>
  <tr><td>X int.</td>
      <td><span id="fit_xint"></span> &plusmn;
          <span id="fit_xint_err"></span></td></tr>
</table></div>
<br style="clear:both">
{% include '_zoom_control.html' %}
<button class="needs_plot" disabled onclick="download_data();">
Download plot data</button>

<br style="clear:both">
<hr>
<div id="batch">
  <p style="font-style: italic">
  Coming soon! Select a ratio (using the plot controls) and thresholds
  for R^2, slope, and Y-intercepts. The server then generates a list of
  locations that satisfy the constraints, downloaded in CSV format.
  </p>
  <table>
  <tr><td></td><th>Min</th><th>Max</th></tr>
  <tr><td>R&#0178;</td>
      <td><input type=number min=0 max=1 step=0.001 value=0.9></td></td></tr>
  <tr><td>Slope</td>
      <td><input type=number step=0.001 value="-10"></td>
      <td><input type=number step=0.001 value="10"></td></tr>
  <tr><td>Y int.</td>
      <td><input type=number step=0.001 value="-10"></td>
      <td><input type=number step=0.001 value="10"></td></tr>
  </table>
  <button disabled>Run batch analysis</button>
</div>
{% end %}
