{% extends "_common.html" %}
{% block head_matter %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<style type="text/css">
.horiz_section {
  padding: 0.25em 1.5em;
  margin: 0 -1.5em;
  background-color: #abe3ff;
  text-align: center;
}
.horiz_section:nth-child(even) { background-color: #8ec0d8; }
.section_heading { font-size: large; text-align: left; }

#ds_kind_choices { list-style-type: none; display: block; }
#ds_kind_choices > li {
  display: inline-block;
  padding: 5px 1em;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  background-color: #006fa7;
  border: 1px outset;
}
#ds_kind_choices > li:hover { background-color: #f2c3b2; }
#ds_kind_choices > li.active {
  background-color: #ee1c26;
  cursor: default;
  border: none;
}
#ds_kind_choices > li.active:hover { background-color: #ee1c26; }

.ds_select { display: none; cursor: default; margin-top: 0.25em; }
.ds_select.active { display: inline-block; }
.ds_select > label {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 0.25em;
  background-color: #4992c4;
  font-weight: bold;
}
.ds_select > input { display: none; }
.ds_select > input:checked + label { background-color: #e69b71; }

#ds_filters_container > div {
  display: inline-block;
  margin: 0.25em;
}

.plot_options {
  display: inline-block;
  margin: 0 1em 0.5em 1em;
  vertical-align: top;
}
.plot_options > div { padding-bottom: 1em; }

.aligned_table td { text-align: left; }
.aligned_table td:first-child { text-align: right; }

/* Composition stuff */
#fit_info { display: inline-block; vertical-align: top; }
#fit_info caption { border-bottom: 1px solid black; font-weight: bold; }
#fit_info td:first-child { border-right: 1px solid black; font-weight: bold; }
#fit_info td:last-child { text-align: right; }
#fit_info th { padding-top: 0.5em; }

{% if logged_in %}
/* Prediction stuff */
@keyframes flash { 50% { background-color: pink; } }
.err_msg { display: none; color: red; }
.wait { display: none; }
#model_error { padding: 0.25em 1em; margin: 0.25em auto; text-align: center; }
#model_error thead { border-bottom: 1px solid black; font-weight: bold; }
#model_error th { padding: 0 0.5em; }
#model_error td { padding: 0 0.5em; text-align: right; }
#model_error td:first-child { text-align: left; }
#load_model_failed { display: none; text-align: center; color: red; }
#ds_prediction_container input[type="number"] { width: 3em; }
{% end %}

/* Hacks to disable the float: left from .ds_table */
.nofloat_ds_table { display: inline-block; vertical-align: top; float: none; }
</style>

<script type='text/javascript'>
function toggle_collapse(elt, selectors) {
  $(elt).parent().nextAll(selectors).toggle();
  $(elt).toggleClass('up_chevron down_chevron');
}
function click_ds_kind(elt) {
  var nav = $(elt);
  if (nav.hasClass('active')) return;
  nav.siblings('.active').removeClass('active');
  nav.addClass('active');
  var kind = nav.text();
  $('.ds_select.active').removeClass('active');
  $('.ds_select.' + kind).addClass('active');
}
function collect_ds_info() {
  var ds_info = {name: [], kind: []};
  $('.ds_select.active > input:checked').each(function(i,x){
    var parts = x.value.split(',');
    ds_info.name.push(parts[0]);
    ds_info.kind.push(parts[1]);
  });
  return ds_info;
}
function load_ds_filters() {
  var ds_info = collect_ds_info();
  var container = $('#ds_filters_container').empty();
  var num_ds = ds_info.name.length;
  for (var i = 0; i < num_ds; i++) {
    $('<div><img src="/loading_bar.gif"></div>')
      .appendTo(container)
      .load('/_dataset_filterer', {name:ds_info.name[i],kind:ds_info.kind[i]});
  }
  var plot_options = $('#ds_plotting_container');
  var comp_options = $('#ds_compositions_container');
  var pred_options = $('#ds_prediction_container');
  if (num_ds > 0) {
    plot_options.load('/_dataset_plot_options', ds_info, function() {
      $('#dl_metadata').chosen({search_contains: true});
    });
    comp_options.load('/_dataset_comp_options', ds_info, function() {
      // if no comps are loaded, hide the "Plot Compositions" section
      if ($('#x_comp_options option').length === 0) {
        $('#ds_compositions_container').prev().children('.up_chevron').click();
      } else {
        $('#x_comp_options,#y_comp_options').chosen();
      }
    });
    {% if logged_in %}
    pred_options.load('/_dataset_pred_options', ds_info, function() {
      $('#target_meta').chosen({search_contains: true});
    });
    {% end %}
    var kind = ds_info.kind[0];
    window.history.pushState(kind, '', 'explorer?ds_kind=' + kind);
  } else {
    plot_options.empty();
    comp_options.empty();
    pred_options.empty();
    window.history.pushState('', '', 'explorer');
  }
}
function _value() {
  return this.value;
}
function changed(kind, val) {
  $('td.'+val).hide();
  $('td.'+val+'.'+kind).show();
}
function child_vals(selector){
  return "[" + $(selector).children().map(function(i,x){
    return x.value;
  }).filter(function(i,x){
    return x;
  }).toArray() + "]";
}
function collect_plot_options() {
  var opts = {
    xaxis: $("#xaxis").val(),
    yaxis: $("#yaxis").val(),
    color: $("#color").val(),
    x_metadata: $("td.x.metadata").children().val(),
    x_line_ratio: child_vals("td.x.line_ratio"),
    x_computed: $("td.x.computed").children().val(),
    y_metadata: $("td.y.metadata").children().val(),
    y_line_ratio: child_vals("td.y.line_ratio"),
    y_computed: $("td.y.computed").children().val(),
    fixed_color: $("td.color.default").children().val(),
    color_by: $("td.color.metadata").children().val(),
    color_line_ratio: child_vals("td.color.line_ratio"),
    color_computed: $("td.color.computed").children().val(),
    alpha: $("#plt_alpha").val(),
    clear: +$("#plt_clear").is(":checked"),
    legend: +$("#plt_legend").is(":checked"),
    line_width: $("#plt_lw").val(),
    cmap: $("#plt_cmap").val(),
    chan_mask: +$("#chan_mask").is(":checked"),
    pp: collect_pp_args($('#pp_options')),
  };
  return add_baseline_args($('#blr_options'), opts);
}
function do_filtered_plot() {
  $('#plot_button>.dots').text("ting...").fadeIn();
  var post_data = collect_plot_options();
  var ds_info = collect_ds_info();
  post_data['ds_kind'] = ds_info.kind;
  post_data['ds_name'] = ds_info.name;
  post_data['fignum'] = fig.id;

  var cbs = make_post_callbacks('#plot_button>.dots');
  $.post('/_filterplot', post_data, cbs['success'], 'json').fail(cbs['fail']);
}
function plot_compositions() {
  var xc = $('#x_comp_options option:selected').map(_value).toArray();
  var yc = $('#y_comp_options option:selected').map(_value).toArray();
  if (xc.length + yc.length == 0) {
    alert('Please select at least one composition to plot.');
    return;
  }
  var ds_info = collect_ds_info();
  var post_data = {
    x_comps: xc.join('+'),
    y_comps: yc.join('+'),
    color_by: $('#color_by > option:selected').val(),
    do_fit: +$('#do_fit').is(':checked'),
    use_mols: +$('#use_mols').is(':checked'),
    fignum: fig.id,
    ds_kind: ds_info.kind[0],
    ds_name: ds_info.name[0],
  };
  $.post('/_plot_compositions', post_data, function(data, status) {
    if (status !== 'success') return;
    $('#fit_info td:last-child span').empty()
    update_zoom_ctrl(data['zoom']);
    delete data['zoom'];
    for (key in data) {
      $('#fit_' + key).text(data[key].toFixed(3));
    }
  }, 'json');
}
{% if logged_in %}
function run_preds(btn) {
  var ds_info = collect_ds_info();
  _run_model(btn, ds_info, false);
}
function make_model(btn) {
  var ds_info = collect_ds_info();
  var file_input = $('#modelfile')[0];
  if (file_input.files.length > 0) {
    _upload_model(btn, file_input, ds_info.kind[0]);
  } else {
    _run_model(btn, ds_info, true);
  }
}
function _upload_model(btn, file_input, ds_kind) {
  var f = file_input.files[0];
  if (f.size > 5000000) {
    $('#load_model_failed').text('File too big (max 5 MB)').show();
    // flash the file input's enclosing <td>
    var td = $(file_input).parent().css('animation', 'flash 1s');
    setTimeout(function() { td.css('animation', ''); }, 1000);
    return
  }
  var post_data = new FormData();
  post_data.append('fignum', fig.id);
  post_data.append('modelfile', f);
  post_data.append('ds_kind', ds_kind);
  var wait = $('.wait', btn).show();
  $.ajax({
    url: '/_load_model',
    data: post_data,
    processData: false,
    contentType: false,
    type: 'POST',
    error: function(jqXHR, textStatus, errorThrown) {
      wait.hide();
      file_input.value = '';  // reset the input
      $('#load_model_failed').text(jqXHR.responseText).show();
    },
    success: function(data) {
      wait.hide();
      $('#load_model_failed').hide();
      file_input.value = '';  // reset the input
      $('.needs_model').attr('disabled', false);
      $('#model_info').html(JSON.parse(data).info);
    }
  });
}
function _run_model(btn, ds_info, do_train) {
  var pred_vars = $('#target_meta option:selected').map(_value).toArray();
  var post_data = {
      ds_name: ds_info.name,
      ds_kind: ds_info.kind,
      fignum: fig.id,
      do_train: +do_train,
      pp: collect_pp_args($('#pp_options')),
      pls_comps: +$('#pls_comps').val(),
      pls_kind: $('#pls_kind').val(),
      pred_meta: pred_vars,
  };
  add_baseline_args($('#blr_options'), post_data);

  var msg = $('#target_meta').nextAll('.err_msg');
  if (pred_vars.length == 0) {
    msg.show('highlight');
    var box = $('#target_meta').closest('.box');
    box.css('animation', 'flash 1s');
    setTimeout(function() { box.css('animation', ''); }, 1000);
    return;
  } else {
    msg.hide();
  }
  var wait = $('.wait', btn).show();
  $.post('/_run_model', post_data, function(data){
    wait.hide();
    if (!do_train) return;
    $('.needs_model').attr('disabled', false);
    var stats = data.stats;
    var tbody = $('#model_error>tbody').empty();
    for (var i=0; i<stats.length; i++) {
      var v = stats[i];
      tbody.append('<tr><td>'+v.name+'</td><td>' + v.r2.toPrecision(3) +
                   '</td><td>' + v.rmse.toPrecision(4) + '</td></tr>');
    }
    $('#model_info').html(data.info);
  }, 'json');
}
function run_crossval(btn) {
  var ds_info = collect_ds_info();
  var pred_vars = $('#target_meta option:selected').map(_value).toArray();
  var post_data = {
      ds_name: ds_info.name,
      ds_kind: ds_info.kind,
      fignum: fig.id,
      pp: collect_pp_args($('#pp_options')),
      pls_kind: $('#pls_kind').val(),
      pred_meta: pred_vars,
      cv_folds: +$('#cv_folds').val(),
      cv_min_comps: +$('#cv_min_comps').val(),
      cv_max_comps: +$('#cv_max_comps').val(),
  };
  add_baseline_args($('#blr_options'), post_data);

  var msg = $('#target_meta').nextAll('.err_msg');
  if (pred_vars.length == 0) {
    msg.show('highlight');
    var box = $('#target_meta').closest('.box');
    box.css('animation', 'flash 1s');
    setTimeout(function() { box.css('animation', ''); }, 1000);
    return;
  } else {
    msg.hide();
  }
  var wait = $('.wait', btn).show();
  $.post('/_run_model', post_data, function(){wait.hide();});
}
function predict_download(btn) {
  var dl_type = $(btn).next('select').val();
  var dl_url = '/'+fig.id+'/pls_';
  if (dl_type === 'preds') {
    var ds_info = collect_ds_info();
    dl_url += 'predictions.csv?' + $.param({ds_name: ds_info.name,
                                            ds_kind: ds_info.kind});
  } else if (dl_type === 'pkl') {
    dl_url += 'model.pkl';
  } else {
    dl_url += 'model.csv';
  }
  window.open(dl_url, '_blank');
}
{% end %}
function download_spectrum_data() {
  var ds_info = collect_ds_info();
  var args = {
    ds_name: ds_info.name,
    ds_kind: ds_info.kind,
    meta_keys: $('#dl_metadata option:selected').map(_value).toArray(),
  };
  window.open('/'+fig.id+'/spectra.csv?' + $.param(args), '_blank');
}
function download_composition_data() {
  var ds_info = collect_ds_info();
  var args = { ds_name: ds_info.name[0], ds_kind: ds_info.kind[0] };
  window.open('/'+fig.id+'/compositions.csv?' + $.param(args), '_blank');
}
$(document).ready(function(){
  onready_boilerplate("{{ ws_uri }}", {{ fig_id }});
  {% if ds_kind and ds_name %}
    $('.ds_select.{{ds_kind}} input[value="{{ds_name}},{{ds_kind}}"]'
      ).prop('checked', true);
    load_ds_filters();
  {% end %}
});
</script>
{% end %}

{% block body_matter %}
<div id="easter_egg" onclick="$('body,.horiz_section').toggleClass('darby');"></div>

<div class="horiz_section">
<div class='section_heading'>Select
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'ul,div');"></button>
</div>
<div>
<ul id="ds_kind_choices">
{% for kind in sorted(datasets) %}
  <li {% if kind == ds_kind %}class='active'{% end %}
      onclick='click_ds_kind(this);'>{{kind}}</li>
{% end %}
</ul>
{% for kind, k_dict in datasets.items() %}
  <fieldset class="ds_select {{kind}}{% if kind == ds_kind %} active{% end %}">
    {% for name, cbid in sorted(k_dict.items()) %}
      <input type="checkbox" id="{{cbid}}" value="{{name}},{{kind}}">
      <label for="{{cbid}}">{{name}}</label>
    {% end %}
    <button onclick='load_ds_filters()'>Load Dataset(s)</button>
  </fieldset>
{% end %}
<div id='ds_filters_container'></div>
</div>
</div>

<div class="horiz_section">
<div class='section_heading'>Transform
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'table');"></button>
</div>
<table class='ds_table nofloat_ds_table' id="blr_options">
  <caption>Baseline Correction</caption>
  {% include '_blr_rows.html' %}
</table>
<table class='ds_table nofloat_ds_table' id="pp_options">
  <caption>Preprocessing</caption>
  {% include '_pp_rows.html' %}
</table>
</div>

<div class="horiz_section">
<div class='section_heading'>Plot Spectra
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>
<div id="ds_plotting_container"></div>
</div>

<div class="horiz_section">
<div class='section_heading'>Plot Compositions
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>
<div id="ds_compositions_container"></div>
</div>

{% if logged_in %}
<div class="horiz_section">
<div class='section_heading'>Train PLS Models
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>
<div id="ds_prediction_container"></div>
</div>
{% end %}

<div class="horiz_section">
<div id="figure"></div>
{% include '_zoom_control.html' %}
</div>

{% end %}
