{% extends "_common.html" %}
{% block head_matter %}
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<style type="text/css">
@keyframes flash { 50% { background-color: pink; } }
.err_msg { display: none; color: red; }
#model_error { display: inline-block; padding: 0.25em 1em; }
#model_error thead { border-bottom: 1px solid black; font-weight: bold; }
#model_error th { padding: 0 0.5em; }
#model_error td { padding: 0 0.5em; text-align: right; }
#model_error td:first-child { text-align: left; }
</style>
<script type="text/javascript">
function ds_selected(input) {
  var has_ds = input.value.length > 0;
  $('#ds_info').toggle(has_ds);
  if (!has_ds) return;
  // hide the figure
  $('#fig_wrapper').hide();
  // load the dataset filters
  var dest = $('#ds_filter_container');
  dest.html('<img src="/loading_bar.gif">');
  var parts = input.value.split(',');
  ds_name = parts[0];
  ds_kind = parts[1];
  var post_data = {name: ds_name, kind: ds_kind};
  dest.load('/_dataset_filterer', post_data);
  // set up the predictor selection UI
  var dest = $('#target_meta').empty();
  $.post('/_predictable', post_data, function(data){
    for (var i=0; i<data.length; i++) {
      dest.append('<option value="'+data[i][0]+'">'+data[i][1]+'</option>');
    }
    dest.chosen({search_contains: true}).css('width', '+=15');
  }, 'json');
  // show the next steps
  $('.box').show();
}
function run_model(do_train) {
  var blr_pp_table = $('#blr_pp_steps>.ds_table');
  var post_data = {
      ds_name: ds_name, ds_kind: ds_kind, fignum: fig.id, do_train: +do_train,
      pp: collect_pp_args(blr_pp_table),
      pls_comps: +$('#pls_comps').val(),
      pls_kind: $('#pls_kind option:selected').val(),
      pred_meta: $('#target_meta option:selected').map(function(){
        return this.value;
      }).toArray(),
  };
  add_baseline_args(blr_pp_table, post_data);
  var msg = $('#target_meta').nextAll('.err_msg');
  if (post_data.pred_meta.length == 0) {
    msg.show('highlight');
    var box = $('#target_meta').closest('.box');
    box.css('animation', 'flash 1s');
    setTimeout(function() { box.css('animation', ''); }, 1000);
    return;
  } else {
    msg.hide();
  }
  $.post('/_run_model', post_data, function(data){
    $('#fig_wrapper').show();
    $('.needs_model').attr('disabled', false);
    var stats = data.stats;
    var tbody = $('#model_error>tbody').empty();
    for (var i=0; i<stats.length; i++) {
      var v = stats[i];
      tbody.append('<tr><td>'+v.name+'</td><td>' + v.r2.toPrecision(3) +
                   '</td><td>' + v.rmse.toPrecision(4) + '</td></tr>');
    }
    $('#model_info').text(data.info);
  }, 'json');
}
function load_model(elt) {
  if (elt.files.length != 1) {
    console.warn('Expected 1 model file, got', elt.files.length);
    return
  }
  var f = elt.files[0];
  if (f.size > 5000000) {
    console.warn('Model file >5MB: ', f.size, 'bytes');
    return
  }
  var post_data = new FormData();
  post_data.append('fignum', fig.id);
  post_data.append('modelfile', f);
  post_data.append('ds_kind', ds_kind);
  $.ajax({
    url: '/_load_model',
    data: post_data,
    processData: false,
    contentType: false,
    type: 'POST',
    error: function(jqXHR, textStatus, errorThrown) {
      console.error(textStatus, errorThrown);
    },
    success: function(data) {
      elt.value = "";  // reset the input
      $('#fig_wrapper').hide();
      $('.needs_model').attr('disabled', false);
      $('#model_info').text(data.info);
    }
  });
}
function download_preds() {
  window.open('/'+fig.id+'/pls_predictions.csv', '_blank');
}
function download_model() {
  window.open('/'+fig.id+'/pls_model.pkl', '_blank');
}
$(document).ready(function(){
  $('.box,#fig_wrapper').hide();
  onready_boilerplate("{{ws_uri}}", {{ fig_id }});
});
</script>
<style type="text/css">
</style>
{% end %}

{% block body_matter %}

<p>Select a dataset:
<select id="source_ds" onchange="ds_selected(this);">
<option value="">Choose a dataset</option>
{% for ds in sorted(datasets, key=str) %}
  <option value="{{ds.name}},{{ds.kind}}">{{ds}}</option>
{% end %}
</select></p>

<div id="ds_filter_container" class="box"></div>

<div class="box">
<table class="ds_table">
<caption>Values to Predict</caption>
<tr><td>
<select id="target_meta" data-placeholder="Choose variables" multiple>
  <option value=""></option>
</select>
<span class="err_msg">Select at least one.</span>
</td></tr></table>
</div>

<div id="blr_pp_steps" class="box">
{% include '_blr_pp_table.html' %}
</div>

<div class="box"><table class="ds_table">
<caption>PLS Regression</caption>
<tr class="uline">
<td class="rline">
  <button disabled class="needs_filter"
          onclick="run_model(true);">Train Model</button></td>
<td># components:
  <input type="number" id="pls_comps" min=1 max=1000 step=1 value=6 />
  <select id="pls_kind">
    <option value="pls1" selected>Univariate (PLS-1)</option>
    <option value="pls2">Multivariate (PLS-2)</option>
  </select>
</td>
</tr><tr class="uline">
<td class="rline">
  <button disabled class="needs_filter"
          onclick="load_model($('#modelfile')[0]);">Load Model</button></td>
<td><input type="file" id="modelfile" /></td>
</tr><tr><td colspan=2>
<button disabled class="needs_model" onclick="run_model(false);">Run Predictions</button>
<button disabled class="needs_model" onclick="download_preds();">Download Predictions</button>
<button disabled class="needs_model" onclick="download_model();">Download Model</button>
</td></tr></table></div>

<div class="box"><table class="ds_table">
<caption>Current Model</caption>
<tr><td id="model_info">None</td></tr>
</table></div>

<div id="fig_wrapper">
<table id="model_error">
  <thead><tr><th>Variable</th><th>R<sup>2</sup></th><th>RMSE</th></tr></thead>
  <tbody></tbody>
</table>
<div id="figure"></div>
</div>
{% end %}
