{% extends "_common.html" %}
{% block head_matter %}
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<style>
#results { float: left; margin: 0 1em; border: 2px solid black; }
#results td,th {
  border: 1px solid black;
  padding: 0.2em;
  vertical-align: middle;
}
#results td:first-child { text-align: center; }
caption.match { font-weight: bold; }
.match >.popup {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: bisque;
}
.match:hover >.popup {
  display: inline;
  text-align: left;
  font-weight: normal;
}
</style>
<script type="text/javascript">
function do_search() {
  var parts = $('#target_ds').val().split(',');
  if (parts.length != 2) {
    $('#search_messages').text("No search library selected.");
    return
  }
  $('#search_messages').text("Searching...").fadeIn();
  $('#results').fadeOut();
  var post_data = {
    target_name: parts[0], target_kind: parts[1],
    metric: $('#wsm_metric > option:selected').val(),
    param: $('#wsm_param').text(),
    min_window: $('#wsm_min_window').text(),
    num_comps: $('#wsm_endmembers').text(),
    score_pct: $('#wsm_score_pct').text(),
    fignum: fig.id
  };
  $('#results').load('/_search', post_data, function() {
    $('#search_messages').text("Searching... done.").delay(3000).fadeOut();
    $('#results').fadeIn();
    $('#download').prop('disabled', false);
  });
}
function do_compare(names, target_name, target_kind) {
  $.post('/_compare', {
    compare: JSON.stringify(names),
    target_name: target_name,
    target_kind: target_kind,
    fignum: fig.id});
}
function download_data() {
  window.open('/'+fig.id+'/search_results.csv', '_blank');
}
$(document).ready(function(){
  $('#baseline_steps,#pp_steps,#wsm_params').toggle();
  onready_boilerplate("{{ ws_uri }}", {{ fig_id }});
});
</script>
{% end %}

{% block body_matter %}
{% include '_dataset_selector.html' %}

<p>
(Optional) apply baseline correction:
<button onclick="$('#baseline_steps').toggle()">show/hide table</button>
{% include '_baseline_short.html' %}
</p>

<p>
(Optional) apply preprocessing:
<button onclick="$('#pp_steps').toggle()">show/hide table</button>
{% include '_pp_table.html' %}
</p>

<p>
(Optional) tweak whole-spectrum matching parameters:
<button onclick="$('#wsm_params').toggle()">show/hide table</button>
<div id="wsm_params">
<table id="wsm_table" class="pp_table">
<tr class="uline"><th colspan=3>Whole Spectrum Matching</th></tr>
<!-- match score options -->
<tr><td class="rline vcenter" rowspan=2>MatchScore</td>
<td>Match type:</td>
<td><input type="range" min=0 max=1 value=0 step=0.01
           oninput="$('#wsm_param').text(this.value);"></td>
</tr>
<tr class="uline">
<td><select id="wsm_metric">
<option value='combo'>L1/Cosine mixture (IJCAI 15)</option>
<option value='ms'>Min-scaled L1 (JRS 15)</option>
</select></td>
<td>parameter = <span id="wsm_param">0</span></td></tr>
<!-- min window options -->
<tr><td class="rline vcenter" rowspan=2>Sliding Minimum</td>
<td colspan=2>
<input type="range" min=0 max=100 value=0 step=1
       oninput="$('#wsm_min_window').text(this.value);"></td>
</tr>
<tr class="uline">
<td colspan=2>window size = <span id="wsm_min_window">0</span></td></tr>
<!-- unmixing options -->
<tr><td class="rline vcenter uline" rowspan=2>Unmixing</td>
<td><input type="range" min=1 max=5 value=1 step=1
           oninput="$('#wsm_endmembers').text(this.value);"></td>
<td><input type="range" min=1 max=99 value=1 step=1
           oninput="$('#wsm_score_pct').text(this.value);"></td>
</tr><tr class="uline">
<td># endmembers = <span id="wsm_endmembers">1</span></td>
<td>unmixing threshold = <span id="wsm_score_pct">1</span>%</td>
</tr>
</table>
</div>
</p>

<!-- target dataset selector -->
<p>
  Select a search library:
  <select id="target_ds">
  <option value="">Choose a dataset</option>
  {% for ds in sorted(datasets, key=str) %}
    <option value="{{ds.name}},{{ds.kind}}">{{ds}}</option>
  {% end %}
  </select>
</p>

<p>
<button class="needs_plot" onclick="do_search();" disabled>SEARCH</button>
<div id="search_messages" style="display: inline"></div>
</p>

<div id="figure"></div>
<table id="results">
  <tr><th>Rank</th><th>Similarity</th><th>Name</th><th>Plot</th></tr>
  {% for i in range(1,11) %}
    <tr><td>{{i}}</td><td></td><td></td><td></td></tr>
  {% end %}
</table>
<br style="clear:both">
<button id='download' disabled onclick="download_data();">
Download plot data</button>
{% end %}
