<div class="flex-column" style="padding-right: 1em;">
    <div class="flex-row">

        <div class="flex-column col-spaced">
            <label>X axis
                <select id='x_comp_options' multiple data-placeholder='select composition(s)'>
                    {% for key, name in comp_pairs %}
                    <option value="{{key}}">{{name}}</option>
                    {% end %}
                </select></label>
            <label>Y axis
                <select id='y_comp_options' multiple data-placeholder='select composition(s)'>
                    {% for key, name in comp_pairs %}
                    <option value="{{key}}">{{name}}</option>
                    {% end %}
                </select></label>
        </div>

        <div class="flex-column col-spaced" style="padding-left: 1em; text-align: left;">
            <label>Color by
                <select id="color_by">
                    <option value="">None</option>
                    {% for key, name in num_pairs %}
                    <option value="{{key}}">{{name}}</option>
                    {% end %}
                </select></label>
            <label>Linear fit:<input type="checkbox" id="do_fit" checked></label>
            <label>Convert to mols:<input type="checkbox" id="use_mols" checked></label>
        </div>

    </div>
    <button class="needs_filter" onclick="Composition.plot(this);" disabled>
        Plot<span class="wait">ting</span> compositions<span class="wait">...</span>
    </button>
    <div class="err_msg"></div>
</div>

<table id="fit_info" class="flow">
    <caption class="bold uline">Linear fit parameters</caption>
    <tr>
        <td class="rline">R&#0178;</td>
        <td class="num"><span id="fit_rval"></span></td>
    </tr>
    <tr>
        <td class="rline">slope</td>
        <td class="num"><span id="fit_slope"></span> &plusmn;
            <span id="fit_slope_err"></span></td>
    </tr>
    <tr>
        <td class="rline">Y int.</td>
        <td class="num"><span id="fit_yint"></span> &plusmn;
            <span id="fit_yint_err"></span></td>
    </tr>
    <tr>
        <td class="rline">X int.</td>
        <td class="num"><span id="fit_xint"></span> &plusmn;
            <span id="fit_xint_err"></span></td>
    </tr>
    <tr>
        <th colspan=2 style="padding-top: 0.5em">
            <button class="needs_plot" disabled onclick="Composition.download();">
                Download compositions
            </button>
        </th>
    </tr>
</table>
