{% extends "_common.html" %}
{% block head_matter %}
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<script type="text/javascript">
function download_baseline() {
  window.open('/'+fig.id+'/baseline.txt', '_blank');
}
$(document).ready(function(){
  onready_boilerplate("{{ws_uri}}", {{ fig_id }});
});
</script>
<style type="text/css">
#ds_selector_wrapper { padding: 1em 0; }
input[type="range"] {
  width: 20em;
  padding-right: 1em;
  padding-bottom: 0.75em;
  display: block;
}
#two_columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#bl_methods_column {
  display: inline-flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  padding-right: 1em;
  padding-bottom: 1em;
}
#fig_column {
  flex: 1 0 auto;
  padding-bottom: 50%;
}
.bl_options {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.bl_chunk {
  display: inline-flex;
  justify-content: center;
  text-align: center;
}
.bl_heading {
  padding: 0.5em 0;
  flex-grow: 1;
}
.bl_separator { height: 1em; }
</style>
{% end %}

{% block body_matter %}
{% include '_dataset_selector.html' %}

<div id="two_columns">
<div id="bl_methods_column">

<div class="bl_options">
<label>Bounds:
  <input class="crop_lb" type="number" step="any" placeholder="min"> to
  <input class="crop_ub" type="number" step="any" placeholder="max">
</label>
<label><input type="checkbox" class="blr_segmented">Segmented</label>
<label><input type="checkbox" class="blr_inverted">Inverted</label>
<label><input type="checkbox" class="blr_flip">Flipped</label>
</div>

{% for key, bl in bl_classes %}
  <div class="bl_separator"></div>
  <div class="bl_chunk">
  <div class="flex-column">
  {% for param, (lb,ub,scale) in list(bl.param_ranges().items()) %}
    <label class="param {{key}}"}>
      {{param.replace('_', ' ').strip()}} =
      <span class="{{key}}_{{param}}">{{getattr(bl, param)}}</span>
      <input type="range"
             step={{compute_step(lb,ub,scale)}}
        {% if scale == 'log' %}
             min={{log10(lb)}} max={{log10(ub)}}
             value={{log10(getattr(bl,param))}}
             oninput="update_1eX(this.value, '.{{key}}_{{param}}', {{str(ub>1e5).lower()}});"
             onchange="update_1eX(this.value, '.{{key}}_{{param}}', {{str(ub>1e5).lower()}});"
        {% else %}
             min={{lb}} max={{ub}}
             value={{getattr(bl,param)}}
             oninput="$('.{{key}}_{{param}}').text(this.value);"
             onchange="$('.{{key}}_{{param}}').text(this.value);"
        {% end %}>
    </label>
  {% end %}
  </div>
  <button class="needs_plot bl_heading" disabled
          onclick="do_baseline('#bl_methods_column', '{{key}}')">
    {{bl.__class__.__name__}}
  </button>
  </div>
{% end %}

<div id="baseline_messages"></div>
</div>

<div id="fig_column">
<div id="figure"></div>
<br />
<button class="needs_plot" onclick="download_baseline();" disabled>
Download original &amp; baseline</button>
</div>
</div>
{% end %}
