{% extends "_common.html" %}
{% block head_matter %}
<style>
    b {
        display: block;
        padding-top: 1em;
    }

    ul {
        padding-left: 2em;
    }

    ul.toplevel {
        padding: 1em;
    }

</style>
{% end %}
{% block body_matter %}
<b>Current figures: {{len(figure_data)}}</b>
<ul class="toplevel">
    {% for key, fd in figure_data.items() %}
    <li>Figure {{key}}:
        <ul>
            {% for attr, val in sorted(vars(fd).items()) %}
            <li>
                <code>{{attr}}</code> =
                {% if attr == 'filter_mask' and val is not None %}
                <ul>
                    {% for ds, mask in val.items() %}
                    <li>{{ds}} : {{mask}}</li>
                    {% end %}
                </ul>
                {% else %}
                {{repr(val)}}
                {% end %}
            </li>
            {% end %}
        </ul>
    </li>
    {% end %}
</ul>
{% end %}
