{% extends "_common.html" %}
{% block head_matter %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<style type="text/css">
.horiz_section {
  padding: 0.25em 1.5em;
  margin: 0 -1.5em;
  background-color: #abe3ff;
  text-align: center;
}
.horiz_section:nth-child(even) { background-color: #8ec0d8; }
.section_heading { font-size: large; text-align: left; }
.section_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#ds_select_container { display: flex; flex-direction: column; }
#ds_kind_choices { list-style-type: none; }
#ds_kind_choices > li {
  display: inline-block;
  padding: 5px 1em;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  background-color: #006fa7;
  border: 1px outset;
}
#ds_kind_choices > li:hover { background-color: #f2c3b2; }
#ds_kind_choices > li.active {
  background-color: #ee1c26;
  cursor: default;
  border: none;
}
#ds_kind_choices > li.active:hover { background-color: #ee1c26; }

.ds_select {
  display: none;
  cursor: default;
  margin: 0.25em auto;
}
.ds_select.active {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ds_select > label {
  cursor: pointer;
  padding: 0.5em;
  margin: 0 0.25em 0.25em 0.25em;
  background-color: #4992c4;
  font-weight: bold;
}
.ds_select > input { display: none; }
.ds_select > input:checked + label { background-color: #e69b71; }

#generic_plot_options { display: inline-flex; margin: 0 auto; }
#generic_plot_options > div { padding: 0.5em 1em; }

.aligned_table>tbody td {
  text-align: left;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
}
.aligned_table>tbody td:first-child { text-align: right; }
.aligned_table>tbody td:last-child { padding-right: 0; }

/* Composition stuff */
#fit_info { display: inline-block; vertical-align: top; }
#fit_info caption { border-bottom: 1px solid black; font-weight: bold; }
#fit_info td:first-child { border-right: 1px solid black; }
#fit_info td:last-child { text-align: right; }
#fit_info th { padding-top: 0.5em; }

/* Prediction stuff */
@keyframes flash { 50% { background-color: pink; } }
#model_error { padding: 0.25em 1em; margin: 0.25em auto; text-align: center; }
#model_error thead { border-bottom: 1px solid black; font-weight: bold; }
#model_error th { padding: 0 0.5em; }
#model_error td { padding: 0 0.5em; text-align: right; }
#model_error td:first-child { text-align: left; }
#ds_prediction_container input[type="number"] { width: 3em; }
#ds_prediction_container > table { display: block; }

/* Hacks to disable the float: left from .ds_table */
.nofloat_ds_table { display: inline-block; vertical-align: top; float: none; }
</style>

<script type='text/javascript'>
function toggle_collapse(elt, selectors) {
  $(elt).parent().nextAll(selectors).toggle();
  $(elt).toggleClass('up_chevron down_chevron');
}
function click_ds_kind(elt) {
  var nav = $(elt);
  if (nav.hasClass('active')) return;
  nav.siblings('.active').removeClass('active');
  nav.addClass('active');
  var kind = nav.text();
  $('.ds_select.active').removeClass('active');
  $('.ds_select.' + kind).addClass('active');
}
function collect_ds_info() {
  var ds_info = {name: [], kind: []};
  $('.ds_select.active > input:checked').each(function(i,x){
    var parts = x.value.split(',');
    ds_info.name.push(parts[0]);
    ds_info.kind.push(parts[1]);
  });
  return ds_info;
}
function load_ds_filters() {
  var ds_info = collect_ds_info();
  // clear any existing filters
  var container = $('#ds_filters_container').empty();
  // deselect any selected datasets in other ds_kinds
  $('.ds_select:not(.active) > input:checked').click();
  // load a filter box for each dataset
  var ds_kind = ds_info.kind[0];
  ds_info.name.forEach(function(ds_name){
    var placeholder = $('<div><img src="/loading_bar.gif"></div>')
                        .appendTo(container);
    $.post('/_dataset_filterer', {name:ds_name, kind:ds_kind}, function(filt){
      placeholder.replaceWith(filt);
    });
  });
  // load/unload tool sections below
  var plot_options = $('#ds_plotting_container');
  var comp_options = $('#ds_compositions_container');
  var pred_options = $('#ds_prediction_container');
  // var clas_options = $('#ds_classification_container');
  if (ds_kind !== undefined) {
    plot_options.load('/_dataset_plot_options', ds_info, function() {
      $('#dl_metadata').css('width', '+=15').chosen({search_contains: true});
    });
    comp_options.load('/_dataset_comp_options', ds_info, function() {
      // if no comps are loaded, hide the "Plot Compositions" section
      if ($('#x_comp_options option').length === 0) {
        comp_options.prev().children('.up_chevron').click();
      } else {
        $('#x_comp_options,#y_comp_options').css('width', '+=15')
                                            .chosen({search_contains: true});
      }
    });
    {% if logged_in %}
    pred_options.load('/_dataset_pred_options', ds_info, function() {
      $('.target_meta', pred_options).css('width', '+=15')
                                     .chosen({search_contains: true});
    });
    // clas_options.load('/_dataset_classify_options', ds_info);
    {% end %}
    var kind = ds_info.kind[0];
    var fragment = 'explorer?ds_kind=' + kind;
    if (ds_info.name.length == 1) {
      fragment += '&ds_name=' + encodeURIComponent(ds_info.name[0]);
    }
    window.history.pushState(kind, '', fragment);
  } else {
    plot_options.empty();
    comp_options.empty();
    pred_options.empty();
    // clas_options.empty();
    window.history.pushState('', '', 'explorer');
  }
}

{% include '_filterplots.js' %}
{% include '_compositions.js' %}
{% if logged_in %}{% include '_predictions.js' %}{% end %}

$(document).ready(function(){
  onready_boilerplate("{{ ws_uri }}", {{ fig_id }});
  {% if ds_kind and ds_name %}
    $('.ds_select.{{ds_kind}} input[value="{{ds_name}},{{ds_kind}}"]'
      ).prop('checked', true);
    load_ds_filters();
  {% end %}
});
</script>
{% end %}

{% block body_matter %}
<div id="easter_egg" onclick="$('body,.horiz_section').toggleClass('darby');"></div>

<div class="horiz_section">
<div class='section_heading'>Select Data
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'ul,div');"></button>
</div>
<div id="ds_select_container">
<ul id="ds_kind_choices">
{% for kind in sorted(ds_tree) %}
  <li {% if kind == ds_kind %}class='active'{% end %}
      onclick='click_ds_kind(this);'>{{kind}}</li>
{% end %}
</ul>
{% for kind, k_dict in ds_tree.items() %}
  <div class="ds_select {{kind}}{% if kind == ds_kind %} active{% end %}">
    {% for name, (cbid, is_traj) in sorted(k_dict.items()) %}
      <input type="checkbox" id="{{cbid}}" value="{{name}},{{kind}}">
      <label for="{{cbid}}">{{name}}{% if is_traj %}<sup>&dagger;</sup>{% end %}
      </label>
    {% end %}
    <button onclick='load_ds_filters()'>Load Dataset(s)</button>
  </div>
{% end %}
<div id='ds_filters_container' class='section_body'></div>
</div>
</div>

<div class="horiz_section">
<div class='section_heading'>Transform Data
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'table');"></button>
</div>
<table class='ds_table nofloat_ds_table' id="blr_options">
  <caption>Baseline Correction</caption>
  {% include '_blr_rows.html' %}
</table>
<table class='ds_table nofloat_ds_table' id="pp_options">
  <caption>Preprocessing</caption>
  {% include '_pp_rows.html' %}
</table>
</div>

<div class="horiz_section">
<div class='section_heading'>Adjust Plot Options
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>

<div id="generic_plot_options" class="section_body">
<div>Line/Marker Size (<span id="lw_val">{{default_lw}}</span>)<br>
<input id="plt_lw" type="range" min=1 max=20 value={{default_lw}} step=0.5
       onchange="$('#lw_val').text((+this.value).toFixed(2));"
       oninput="$('#lw_val').text((+this.value).toFixed(2));"></div>
<div>Opacity (<span id="alpha_val">1.00</span>)<br>
<input id="plt_alpha" type="range" min=0 max=1 value=1 step=0.05
       onchange="$('#alpha_val').text((+this.value).toFixed(2));"
       oninput="$('#alpha_val').text((+this.value).toFixed(2));"></div>
<div>Colormap<a
  href="http://matplotlib.org/examples/color/colormaps_reference.html"
  class="small">[?]</a>: <select id="plt_cmap">
  <option value="_auto" selected>auto</option>
{% for cmap in cmaps %}
  <option value="{{cmap}}">{{cmap}}</option>
{% end %}
</select></div>
<div><label>Show legend:<input id="plt_legend" type="checkbox" checked></label>
</div></div></div>

<div class="horiz_section">
<div class='section_heading'>Plot Spectra
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>
<div id="ds_plotting_container" class="section_body"></div>
</div>

<div class="horiz_section">
<div class='section_heading'>Plot Compositions
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>
<div id="ds_compositions_container" class="section_body"></div>
</div>

{% if logged_in %}
<div class="horiz_section">
<div class='section_heading'>Train PLS Models
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>
<div id="ds_prediction_container" class="section_body"></div>
</div>

{# TODO: add this section when it's ready
<div class="horiz_section">
<div class='section_heading'>Classify Spectra
<button class="collapse up_chevron"
  onclick="toggle_collapse(this, 'div');"></button>
</div>
<div id="ds_classification_container" class="section_body"></div>
</div>
#}
{% end %}

<div class="horiz_section">
<div id="figure"></div>
{% include '_zoom_control.html' %}
</div>

{% end %}
