{% extends "_common.html" %}
{% block head_matter %}
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
<style>
#prep_container th {
  font-weight: bold;
  font-size: large;
  padding-bottom: 0.5em;
}
.prep { padding-bottom: 1em; vertical-align: top; }
#target_prep { display: none; }
#query_prep[disabled] { display: none; }
td.param,td.pp_param { padding: 0.3em; }
#bottom_row { display: flex; }
#figure { flex: 1 0 auto; }
#results {
  margin: 0 1em;
  border: 2px solid black;
}
#results td,#results th {
  border: 1px solid black;
  padding: 0.2em;
  vertical-align: middle;
}
#results td:first-child { text-align: center; }
caption.match { font-weight: bold; }
.match >.popup {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: bisque;
}
.match:hover >.popup {
  display: inline;
  text-align: left;
  font-weight: normal;
}
</style>
<script type="text/javascript">
function target_selected(input) {
  var has_ds = input.value.length > 0;
  $('#target_prep,#target_ds_filter_container').toggle(has_ds);
  if (!has_ds) return;
  var dest = $('#target_ds_filter_container');
  dest.html('<img src="/loading_bar.gif">');
  var parts = input.value.split(',');
  var post_data = {name: parts[0], kind: parts[1]};
  dest.load('/_dataset_filterer', post_data, function(){
    dest.find('legend').html(
      '<button onclick="$(this).parent().nextAll().toggle()">' +
      'Show/Hide Filters (Optional)</button>'
    ).children().click();
  });
}
function do_search() {
  var parts = $('#target_ds').val().split(',');
  if (parts.length != 2) {
    $('#search_messages').text("No search library selected.");
    return
  }
  // make sure we run the final pp before searching
  do_pp(collect_pp_args($('#query_prep>table')));
  // collect search params
  var target_table = $('#target_prep>table');
  var post_data = {
    target_name: parts[0], target_kind: parts[1],
    pp: collect_pp_args(target_table),
    metric: $('#wsm_metric > option:selected').val(),
    param: $('#wsm_param').text(),
    min_window: $('#wsm_min_window').text(),
    num_comps: $('#wsm_endmembers').text(),
    score_pct: $('#wsm_score_pct').text(),
    fignum: fig.id
  };
  add_resample_args(target_table, post_data);
  add_baseline_args(target_table, post_data);
  // search
  $('#search_messages').text("Searching...").fadeIn();
  $('#results').fadeOut();
  $('#results').load('/_search', post_data, function() {
    $('#search_messages').text("Searching... done.").delay(3000).fadeOut();
    $('#results').fadeIn();
    $('#download').prop('disabled', false);
  });
}
function do_compare(names, target_name, target_kind) {
  var target_table = $('#target_prep>table');
  var post_data = {
    compare: JSON.stringify(names),
    target_name: target_name,
    target_kind: target_kind,
    pp: collect_pp_args(target_table),
    fignum: fig.id
  };
  add_resample_args(target_table, post_data);
  add_baseline_args(target_table, post_data);
  $.post('/_compare', post_data);
}
function download_data() {
  window.open('/'+fig.id+'/search_results.csv', '_blank');
}
$(document).ready(function(){
  onready_boilerplate("{{ ws_uri }}", {{ fig_id }});
  // make the query prep interactive
  var query_table = $('#query_prep>table');
  query_table.find('tr').slice(0,3).find('select,input').change(function(){
    do_baseline(query_table);
  });
  var pp_watcher = new MutationObserver(function(){
    do_pp(collect_pp_args(query_table));
  });
  pp_watcher.observe(query_table.find('.pp_staging')[0],
                     {childList: true, subtree: true});
});
</script>
{% end %}

{% block body_matter %}

<table id="prep_container">
<tr><th>Spectrum to Match</th><th>Database to Search</th></tr>

<tr>
<td class="prep">
{% include '_dataset_selector.html' %}
</td>
<td class="prep">
Select a search library:
<select id="target_ds" onchange="target_selected(this);">
<option value="">Choose a dataset</option>
{% for ds in sorted(datasets, key=str) %}
  <option value="{{ds.name}},{{ds.kind}}">{{ds}}</option>
{% end %}
</select>
<div id="target_ds_filter_container"></div>
</td>
</tr>

<tr>
<td class="prep"><div id="query_prep" class="needs_plot" disabled>
{% include '_blr_pp_table.html' %}</div></td>
<td class="prep"><div id="target_prep">
{% include '_blr_pp_table.html' %}</div></td>
</tr>

<tr><td colspan=2 style="text-align: center;">

<table id="wsm_table" class="pp_table">
<caption style="font-weight: bold">Whole Spectrum Matching</caption>
<!-- match score options -->
<tr><td class="rline vcenter" rowspan=2>MatchScore</td>
<td>Match type:</td>
<td><input type="range" min=0 max=1 value=0 step=0.01
           onchange="$('#wsm_param').text(this.value);"
           oninput="$('#wsm_param').text(this.value);"></td>
</tr>
<tr class="uline">
<td><select id="wsm_metric">
<option value='combo'>L1/Cosine mixture (IJCAI 15)</option>
<option value='ms'>Min-scaled L1 (JRS 15)</option>
</select></td>
<td>parameter = <span id="wsm_param">0</span></td></tr>
<!-- min window options -->
<tr><td class="rline vcenter" rowspan=2>Sliding Minimum</td>
<td colspan=2>
<input type="range" min=0 max=100 value=0 step=1
       onchange="$('#wsm_min_window').text(this.value);"
       oninput="$('#wsm_min_window').text(this.value);"></td>
</tr>
<tr class="uline">
<td colspan=2>window size = <span id="wsm_min_window">0</span></td></tr>
<!-- unmixing options -->
<tr><td class="rline vcenter uline" rowspan=2>Unmixing</td>
<td><input type="range" min=1 max=5 value=1 step=1
           onchange="$('#wsm_endmembers').text(this.value);"
           oninput="$('#wsm_endmembers').text(this.value);"></td>
<td><input type="range" min=1 max=99 value=1 step=1
           onchange="$('#wsm_score_pct').text(this.value);"
           oninput="$('#wsm_score_pct').text(this.value);"></td>
</tr><tr class="uline">
<td># endmembers = <span id="wsm_endmembers">1</span></td>
<td>unmixing threshold = <span id="wsm_score_pct">1</span>%</td>
</tr>
<tr><td colspan=3>
<button class="needs_plot" onclick="do_search();" disabled>SEARCH</button>
<span id="search_messages"></span>
</td></tr>
</table>

</td></tr>
</table>

<div id="bottom_row">
<div id="figure"></div>
<div class="flex-column">
<table id="results">
  <tr><th>Rank</th><th>Similarity</th><th>Name</th><th>Plot</th></tr>
  {% for i in range(1,11) %}
    <tr><td>{{i}}</td><td></td><td></td><td></td></tr>
  {% end %}
</table>
<button id='download' disabled onclick="download_data();">
Download plot data</button>
</div>
</div>
{% end %}
